* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fdf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color:#000;
}

.addTaskBtn {
  background: #00a3ff;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

#addTaskBtn:hover {
  background: #0080d9;
  transform: scale(1.05);
}

.tasks-container {
  margin-top: 10px;
}

.task-header {
  background-color: #e0b3ff;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.task-item {
  background-color: #f7f7ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  margin: 6px 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.task-item:hover {
  transform: translateX(5px);
}

.task-title {
  color: #555;
  font-size: 1rem;
  font-weight: bold;
}

.task-buttons {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  background: #ffcc00;
  color: #333;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  background: #ffb700;
}

.delete-btn {
  background: #ff6b6b;
  color: #fff;
}

.delete-btn:hover {
  background: #ff4b4b;
}
